body {

  background-image: url('../images/background.jpg');
	background-attachment: fixed;
	font-family: Helvetica, sans-serif;

	h2 {
	    color: darkblue;
			font-size: 40px ;
	    margin-top: 10px;
	    margin-bottom: 10px;
			text-align: center;
	  }

  iframe {
		  border: 0;
			margin-left: 50vw;
      transform: translate(-50%);

		}

	h3 {
		  color: darkblue;
			font-size: 40px ;
		  margin-top: 10px;
		  margin-bottom: 10px;
			text-align: center;
		}

  .box {
		  width: 560px;
		  margin-left: 50vw;
		  transform: translate(-50%);

	}

	p {
		  font-size: 30px;
		  text-align: center;
	}

	h4 {
		  color: darkblue;
		  font-size: 40px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  text-align: center;
	}

	ol {
		  font-size: 28px;
			list-style-position: inside;
			padding-left: 625px;
	}

	footer {
		  font-size: 20px;
			text-align: center;
			a:link {
			    color: blue;
			    font-weight: bold
			}

			a:visited {
			    color: purple;
			    font-weight: bold
			}

			a:hover {
			    text-decoration: none;
			}
	}



	img {
		width: 100%;
	}
}
